<div class= "new-game jumbotron">
  <%= form_for @game do |f| %>
  <%= f.submit %>
<% end %>

<%= link_to "List of games to Join", games_path%>

</div>

<%= link_to "Update Profile", edit_user_path(current_user) %>
<%= link_to "Delete Profile", @user, data: {confirm: "You sure?"} %>

<h2>User Profile Page</h2>

<div id="game-stats">
  <h3>Last Game Stats:</h3>

  <li>Result:</li>
  <li>Total shots fired:</li>
  <li>Shots fired by you:</li>
  <li>Shots fired by opponent:</li>
  <li>Your ships sunk:</li>
  <li>Opponent ships sunk:</li>


</div>

<div id="overall-stats">
  <h3>Overall Stats:</h3>

  <li>Total games played:</li> <%= @user.games.count %>
  <li>Total wins:</li> <%= %>
  <li>Total losses:</li> <%= %>
  <li>Total shots fired:</li> <%= %>
  <li>Total hits:</li> <%= %>
  <li>Total misses:</li> <%= %>

</div>
