<center>


<%= form_for [@game, @ship_1], name: "Carrier" do |f| %>
<%= f.hidden_field :classification, value: "carrier" %>
<%= f.submit "Create a carrier" %>
<% end %>

<%= form_for [@game, @ship_1], id: "Battleship" do |f| %>
<%= f.hidden_field :classification, value: "battleship" %>
<%= f.submit "Create a battleship" %>
<% end %>

<%= form_for [@game, @ship_1], id: "Cruiser" do |f| %>
<%= f.hidden_field :classification, value: "cruiser" %>
<%= f.submit "Create a cruiser" %>
<% end %>

<%= form_for [@game, @ship_1], id: "Submarine" do |f| %>
<%= f.hidden_field :classification, value: "submarine" %>
<%= f.submit "Create a Submarine" %>
<% end %>

<%= form_for [@game, @ship_1], id: "Destroyer" do |f| %>
<%= f.hidden_field :classification, value: "destroyer" %>
<%= f.submit "Create a Destroyer"%>
<% end %>



<table id="player_1" class="table-bordered">
  <tr id="header">
    <th>Row 1</th>
    <th>Row 2</th>
    <th>Row 3</th>
    <th>Row 4</th>
    <th>Row 5</th>
    <th>Row 6</th>
    <th>Row 7</th>
    <th>Row 8</th>
  </tr>
  <tr id="row_one" value="1">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
  <tr id="row_two" value="2">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
    <tr id="row_three" value="3">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
    <tr id="row_four" value="4">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
    <tr id="row_five" value="5">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
    <tr id="row_six" value="6">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
  <tr id="row_seven" value="7">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
    <tr id="row_eight" value="8">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
</table>

<br><br><br><br>

<table id="player_2" class="table-bordered">
   <tr id="header">
    <th>Row 1</th>
    <th>Row 2</th>
    <th>Row 3</th>
    <th>Row 4</th>
    <th>Row 5</th>
    <th>Row 6</th>
    <th>Row 7</th>
    <th>Row 8</th>
  </tr>
  <tr id="row_one" value="1">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
  <tr id="row_two" value="2">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
    <tr id="row_three" value="3">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
    <tr id="row_four" value="4">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
    <tr id="row_five" value="5">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
    <tr id="row_six" value="6">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
  <tr id="row_seven" value="7">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>
    <tr id="row_eight" value="8">
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
    <td>Row 4</td>
    <td>Row 5</td>
    <td>Row 6</td>
    <td>Row 7</td>
    <td>Row 8</td>
  </tr>

</table>
</center>

<div id="ok">0</div>

<%= form_for @shot, id: "fire" do |f| %>
<%= f.submit %>
<% end %>
